# Industriel Engineering 
#### **Presented By :       Lian Refaelov , Shifra Fuchs, Osher Moyal , Dolev Levavi**

- Wrangling the data and Understanding it
- Audience Quiz: The most wanted position, The specialization where you earn the most
- Facility vs Salary
- Specialization vs Salary 
- Position vs Salary

In [62]:
url = "IndustrielEngineeringData.csv"
industriel_data_df = pd.read_csv(url)
industriel_data_df.head()

,תאריך,סטטוס,מוסד לימודי,תחום,תפקיד,חברה,ניסיון,משכורת,סוג תשלום,הערות,רכב
0,8/1/2019 11:41,סטודנט/ית,אוניברסיטה פתוחה,הייטק (סטארט-אפים וחברות גדולות),ניתוח נתונים - BI/Data analyst,NaN,2+,20000.0,גלובלי,NaN,NaN
1,8/1/2019 11:42,בוגר/ת,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",תעש,10+,11000.0,גלובלי,NaN,NaN
2,8/1/2019 11:43,סטודנט/ית,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",NaN,1,32.0,שעתי,NaN,NaN
3,8/1/2019 11:44,בוגר/ת,מכללת שנקר,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","רכש כ""א",חיל אויר,1,37.0,שעתי,מחפשת משרת ניתוח מערכות ג'וניור,NaN
4,8/1/2019 11:48,בוגר/ת,מכללת סמי שמעון,אלעל,ניהול פרוייקטים במערכות מידע,אלעל,1,12500.0,גלובלי,NaN,לא

In [63]:
industriel_data_df.columns = ['Date', 'Status', 'Facility', 'Classification', 'Specialization', 'Company', 'Experience', 'Salary', 'Salary_kind', 'Remarks', 'Car']
industriel_data_df.head(0)

Empty DataFrame
Columns: [Date, Status, Facility, Classification, Specialization, Company, Experience, Salary, Salary_kind, Remarks, Car]
Index: []

In [64]:
industriel_data_df['Date'] = pd.to_datetime(industriel_data_df['Date'])
industriel_data_df['Year'] = pd.DatetimeIndex(industriel_data_df['Date']).year
industriel_data_df.head()

,Date,Status,Facility,Classification,Specialization,Company,Experience,Salary,Salary_kind,Remarks,Car,Year
0,2019-08-01 11:41:00,סטודנט/ית,אוניברסיטה פתוחה,הייטק (סטארט-אפים וחברות גדולות),ניתוח נתונים - BI/Data analyst,NaN,2+,20000.0,גלובלי,NaN,NaN,2019
1,2019-08-01 11:42:00,בוגר/ת,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",תעש,10+,11000.0,גלובלי,NaN,NaN,2019
2,2019-08-01 11:43:00,סטודנט/ית,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",NaN,1,32.0,שעתי,NaN,NaN,2019
3,2019-08-01 11:44:00,בוגר/ת,מכללת שנקר,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","רכש כ""א",חיל אויר,1,37.0,שעתי,מחפשת משרת ניתוח מערכות ג'וניור,NaN,2019
4,2019-08-01 11:48:00,בוגר/ת,מכללת סמי שמעון,אלעל,ניהול פרוייקטים במערכות מידע,אלעל,1,12500.0,גלובלי,NaN,לא,2019

In [65]:
industriel_data_df.dtypes

Date              datetime64[ns]
Status                    object
Facility                  object
Classification            object
Specialization            object
Company                   object
Experience                object
Salary                   float64
Salary_kind               object
Remarks                   object
Car                       object
Year                       int64
dtype: object

##### droping unnecessary columns and fixing missing values

In [58]:
industriel_data_df.isnull().sum().sort_values(ascending=False)

Remarks           278
Company           237
Car                19
Year                0
Salary_kind         0
Salary              0
Experience          0
Position            0
Classification      0
Facility            0
Status              0
Date                0
dtype: int64

In [59]:
irrelevant_columns=['Remarks','Date']
industriel_data_df.drop(irrelevant_columns,axis='columns' ,inplace=True)
industriel_data_df["Company"].fillna("לא הוזן",inplace=True)
industriel_data_df["Car"].fillna("לא הוזן",inplace=True)
industriel_data_df.head()

,Status,Facility,Classification,Position,Company,Experience,Salary,Salary_kind,Car,Year
0,סטודנט/ית,אוניברסיטה פתוחה,הייטק (סטארט-אפים וחברות גדולות),ניתוח נתונים - BI/Data analyst,לא הוזן,2+,20000.0,גלובלי,לא הוזן,2019
1,בוגר/ת,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",תעש,10+,11000.0,גלובלי,לא הוזן,2019
2,סטודנט/ית,אוניברסיטת בר אילן,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","תפעול וייצור (תפ""י)",לא הוזן,1,32.0,שעתי,לא הוזן,2019
3,בוגר/ת,מכללת שנקר,"תעשייה מסורתית (מפעלי ייצור, תעשייה אווירית/צב...","רכש כ""א",חיל אויר,1,37.0,שעתי,לא הוזן,2019
4,בוגר/ת,מכללת סמי שמעון,אלעל,ניהול פרוייקטים במערכות מידע,אלעל,1,12500.0,גלובלי,לא,2019

In [43]:
industriel_data_df.isnull().sum().sort_values(ascending=False)

Car               0
Salary_kind       0
Salary            0
Experience        0
Company           0
Position          0
Classification    0
Facility          0
Status            0
Date              0
dtype: int64