# Identify:

Please fill-in your ID in the following cell, **only id numbers, no names!**

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.1-cp39-cp39-win_amd64.whl (10.4 MB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\אושר מויאל\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\אושר מויאל\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\אושר מויאל\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\אושר מויאל\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.3.1

WARNING: You are using pip version 21.1.3; however, version 21.2.3 is available.
You should consider upgrading via the 'c:\users\אושר מויאל\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [23]:
id1 = "312426257"

In [36]:
import pandas as pd
Url = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv"
coronavirus = pd.read_csv(Url)
coronavirus

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...
38561,Zimbabwe,ZWE,2021-07-31,2413509.0,1645599.0,767910.0,38148.0,42406.0,16.24,11.07,5.17,2853.0
38562,Zimbabwe,ZWE,2021-08-01,2433341.0,1654112.0,779229.0,19832.0,43706.0,16.37,11.13,5.24,2941.0
38563,Zimbabwe,ZWE,2021-08-02,2473590.0,1674710.0,798880.0,40249.0,42126.0,16.64,11.27,5.37,2834.0
38564,Zimbabwe,ZWE,2021-08-03,2540555.0,1707671.0,832884.0,66965.0,46246.0,17.09,11.49,5.60,3112.0
38565,Zimbabwe,ZWE,2021-08-04,2604265.0,1740598.0,863667.0,63710.0,46978.0,17.52,11.71,5.81,3161.0

In [27]:
df = pd.DataFrame([id1])

Uncomment in case two students are doing the assignment together:

In [28]:
#df = pd.DataFrame([id1,id2])

In [31]:
df.to_clipboard(index=False,header=False)

           0
0  312426257

Please fill your names here:

osher moyal

---

----

# Write your answers here

add as much lines of code and markdown as you need for each answer

# Q1

In [46]:
coronavirus['date'] = pd.to_datetime(coronavirus.date)
coronavirus['year'] = pd.DatetimeIndex(coronavirus.date).year
coronavirus['month'] = pd.DatetimeIndex(coronavirus.date).month
coronavirus['day'] = pd.DatetimeIndex(coronavirus.date).day
coronavirus['weekday'] = pd.DatetimeIndex(coronavirus.date).weekday
coronavirus ['month']

0        2
1        2
2        2
3        2
4        2
        ..
38561    7
38562    8
38563    8
38564    8
38565    8
Name: month, Length: 38566, dtype: int64

 # Q2

# Q3

# Q4

# Q5

# Q6

# Q7

---
# GOOD LUCK !!!!
---

In [ ]:
# do not type below this line